
    <!-- habilidades blandas -->
    <div class="container text-center skills-soft" id="SKILLS1">
        <div class="row titulo-softSkills">
            <div class="col titulo-soft">
                SOFT SKILLS
            </div>
        </div>
        <div class="row filauno">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/solucion.png" width="120px" alt="">
                <p>Resolución de problemas</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/equipo.png" width="150px" alt="">
                <p>Trabajo en equipo</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/gestion.png" width="120px" alt="">
                <p>Gestión de personal</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/creatividad.png" width="130px" alt="">
                <p>Creativo</p>
            </div>
        </div>
        <div class="row filados">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/eficaz.png" width="130px" alt="">
                <p>Eficaz</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/flexibilidad.png" width="150px" alt="">
                <p>flexible</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/empatia.png" width="160px" alt="">
                <p>Empatico</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="./../../assets/imagenes/skills/proactivo.png" width="130px" alt="">
                <p>proactivo</p>
            </div>
        </div>
    </div>
