 <!-- esperiencias laborales -->
 <div class="contenedor-experiencias" id="EXPERIENCIAS">
    <div class="experiencias">
        <h2> Experiencias </h2>
        <div class="experiencias1">
            <img src="./../../assets/imagenes/res.png">
            <div class="experienciasP">
                <div class="titu-fecha">
                    <h5>Encargado de tienda </h5>
                    <h6>julio 2018 - abril 2021 </h6>
                </div>

                <h6> NOBS. S. A.</h6>
                <p>Tareas a desempeñar:</p>
                <p>Desposte, preparación, almacenaje y exposición de la carne en la tienda, establecer objetivos de
                    ventas, manejo de personal, mantener la relación con los clientes, etc. </p>
            </div>
        </div>
        <div class="experiencias2">
            <img src="./../../assets/imagenes/pedidosya.png">
            <div class="experienciasP2">
                <div class="titu-fecha2">
                    <h5>Repartidor </h5>
                    <h6>abril 2021 - actualidad </h6>
                </div>

                <h6> Pedidos Ya</h6>
                <p>Tareas a desempeñar:</p>
                <p>Encargado de realizar el transporte y distribución de productos desde el lugar de elaboración,
                    venta o amlacenamiento hasta el domicilio marcado por el usuario desde la aplicación remota, en
                    optimas condiciones y en margenes de tiempo previamente establecidas. </p>
            </div>
        </div>
    </div>
</div>