
            <app-narbar></app-narbar>
            <!-- baner con hechizero -->
            <div class="imagenDeFondo">
                <div class="imagenDentro">
                    <div class="hoverDeLA">
                        <p>Cambiar imagen de banner</p>
                    </div>

                </div>
            </div>

            <!-- contenedor acerca de mi -->
            <div class="contenedorAcercaDE" id="ACERCA">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            Seleccionar imagen de perfil
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile02">
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>

                            Nombre completo
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder=" Colocar nombre completo"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                            Titulo profesional
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Colocar titulo"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                            Breve descripción 1
                            <div class="input-group mb-3">
                                <textarea class="form-control" placeholder="máximo 750 caracteres"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                            Breve descripción 2
                            <div class="input-group mb-3">
                                <textarea class="form-control" placeholder="máximo 660 caracteres"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contenedor experiencias laborales -->
            <div class="contenedor-experiencias" id="EXPERIENCIAS">
                <div class="container text-center">
                    <div class="row text-center ">
                        <div class="col">
                            <h3>Experiencia laboral</h3>
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            logo de la empresa
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile02">
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Puesto"
                                            aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Fecha de inicio - fecha finalización"
                                            aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nombre de la empresa"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                            <div class="input-group mb-3">
                                <textarea class="form-control" placeholder="Tareas a desempeñar"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <div class="row text-center ">
                        <div class="col-11">
                            <h3>Experiencia laboral 2</h3>
                        </div>
                        <div class="col-1">
                            <i class='bx bxs-trash bx-md'></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            logo de la empresa
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile02">
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Puesto"
                                            aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Fecha de inicio - fecha finalización"
                                            aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nombre de la empresa"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                            <div class="input-group mb-3">
                                <textarea class="form-control" placeholder="Tareas a desempeñar"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- estudios -->
            <div class="contenedor-estudios" id="ESTUDIOS">
                <div class="container text-center">
                    <div class="row text-center ">
                        <div class="col-11">
                            <h3>Estudios</h3>
                            <div class="col-1">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            logo de la institucion
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile02">
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Titulo obtenido"
                                            aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Fecha de inicio - fecha de finalización"
                                            aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nombre de la institución"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">Button</button>
                            </div>

                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row text-center ">
                            <div class="col-11">
                                <h3>Estudios 2</h3>
                            </div>
                            <div class="col-1">
                                <i class='bx bxs-trash bx-md'></i>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col">
                                logo de la institucion
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile02">
                                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Titulo obtenido"
                                                aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">Button</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control"
                                                placeholder="Fecha de inicio - fecha de finalización"
                                                aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">Button</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Nombre de la institución"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button"
                                        id="button-addon2">Button</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row text-center ">
                            <div class="col-11">
                                <h3>Estudios 2</h3>
                            </div>
                            <div class="col-1">
                                <i class='bx bxs-trash bx-md'></i>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col">
                                logo de la institucion
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile02">
                                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Titulo obtenido"
                                                aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">Button</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control"
                                                placeholder="Fecha de inicio - fecha de finalización"
                                                aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">Button</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Nombre de la institución"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button"
                                        id="button-addon2">Button</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>