 <!-- contenedor acerca de mi -->
 <div class="contenedorAcercaDE" id="ACERCA">
    <div class="acercaDe">
        <div class="container text-center">
            <div class="row">
                <div class="col-2">
                    <img src="./../../assets/imagenes/diego 2.png">
                    <br>
                    <br>
                    <h2>Diego Velasquez</h2>
                    <br>
                    <h3>Desarrollador Web Full Stack </h3>
                    <h3>Jr</h3>
                </div>
                <div class="col-10">

                    <p>Que desde pequeño, quería ser como Tom Cruise, siempre con las ganas de saber de todo un
                        poco, deambulando entre distintas profesiones. Nací en Venezuela, en mayo en el año 2000. Mi
                        Infancia Estuvo Llena De diferentes oficios y profesiones, lo que me dificultó reconocer en
                        cuál enfocarme. Fui desde Disk Jockey (DJ) en una agencia de festejos hasta técnico en
                        reparación de equipos móviles, entre otras actividades con fines de lucro. De esta forma
                        descubrí que nada de lo que había hecho, había despertado mi vocación; No había explotado mi
                        potencial hasta entonces.</p>
                    <p>
                        <br>
                        <br>
                        En el año 2020, estando en Argentina, me adentré en el mundo informático, conocí diferentes
                        lenguajes de programación y orienté mis estudios a esa área. Me enfoqué en armar un stack
                        tecnológico y estudiarlo. Actualmente, una vez culminadas las capacitaciones que me
                        proporcionó la Cámara de la Industria Argentina del Software, puedo decir que mi objetivo
                        es, ahora, explotar mi creatividad, ejercitar mi cerebro al máximo para lograr la resolución
                        de problemas día a día y hacer de la programación parte de mi vida.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>