  <!-- hard skills -->
  <div class="container text-center skills-hard" id="SKILLS2">
    <div class="row titulo-softSkills">
        <div class="col titulo-soft">
            HARD SKILLS
        </div>
    </div>

    <div class="row filauno">
        <div class="col-sm-6 col-md-6 col-lg-3 conteneHtml">
            <img src="./../../assets/imagenes/html.png" width="100px" alt="">
            <div class="html"></div>
            <p>
                HTML
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 contenecss">
            <img src="./../../assets/imagenes/tecno skills/css.png" width="150px" alt="">
            <div class="css"></div>
            <p>CSS</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 contenejs">
            <img src="./../../assets/imagenes/js.png" width="120px" alt="">
            <div class="js"></div>
            <p>JAVA SCRIPT</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 conteneboos">
            <img src="./../../assets/imagenes/tecno skills/Bootstrap.png" width="150px" alt="">
            <div class="boostrap"></div>
            <p>BOOSTRAP</p>
        </div>


    </div>
    <div class="row filados filahard">

        <div class="col-sm-6 col-md-6 col-lg-3 contenemsql">
            <img src="./../../assets/imagenes/tecno skills/MySQL-Logo.png" width="150px" alt="">
            <div class="msql"></div>
            <p>MYSQL</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 conteneangu">
            <img src="./../../assets/imagenes/tecno skills/angular.png" width="130px" alt="">
            <div class="angu"></div>
            <p>ANGULAR</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 contenegit">
            <img src="./../../assets/imagenes/github.png" width="120px" alt="">
            <div class="git"></div>
            <p>GITHUB</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 contenesprin">
            <img src="./../../assets/imagenes/tecno skills/springbot.png" width="145px" alt="">
            <div class="sprin"></div>
            <p id="Proyectos">SPRING BOOT</p>
        </div>

    </div>
</div>