<!-- nav lateral -->
<div class="contenedor-navLateral">
    <div class="navLateral">


        <a href="#ACERCA"><i class='bx bxs-user-rectangle bx-lg bx-spin-hover'></i> </a>

        <a href="#EXPERIENCIAS">
            <i class='bx bxs-briefcase bx-flashing bx-lg bx-spin-hover'></i>
        </a>

        <a href="#ESTUDIOS">
            <i class='bx bxs-graduation bx-flashing bx-lg bx-spin-hover'></i>
        </a>
        <a href="#SKILLS1">
            <i class='bx bx-medal bx-burst bx-lg bx-spin-hover'></i>
        </a>
        <a href="#SKILLS2">
            <i class='bx bx-bar-chart-square bx-burst bx-lg bx-spin-hover'></i>
        </a>
        <a href="#Proyectos">
            <i class='bx bx-slideshow bx-tada bx-lg bx-spin-hover'></i>
        </a>
    </div>
</div>