 <!-- nav -->
 <nav class="navbar " id="navbar">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">
            <img src="./../../assets/imagenes/argentina.png">
        </a>

        <ul class="nav justify-content-end">
             <!-- <li class="nav-item">
                <a class="nav-link"
                    href="/dashboadr.html">editar pagina</a>
            </li>  -->
            <li class="nav-item">
                <a target="_blank" class="nav-link" id="linkedin"
                    href="https://www.linkedin.com/in/diego-velasquez-454308201/" >Linkedin</a>
            </li>
            <li class="nav-item"> <a target="_blank" class="nav-link instagram " id="instagram"
                    href="https://www.instagram.com/diego.andresdj/?hl=es">Instagram</a>

            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://github.com/diegoandres22" id="Github">Github</a>
            </li>
            <li class="nav-item">
                <app-boton-login></app-boton-login>
                <app-moduls></app-moduls>
            </li>
        </ul>
    </div>
</nav>