

    <!-- estudios  -->
    <div class="contenedor-estudios" id="ESTUDIOS">
        <div class="estudios">
            <h2> Estudios </h2>
            <div class="estudios1">
                <img src="./../../assets/imagenes/congreso.jpg">
                <div class="estudiosP">
                    <div class="titu-fechaEstudios">
                        <h5>U. E. P. "Congreso de Angostura" </h5>
                        <h6> 2010 - 2015 </h6>
                    </div>
                    <p>Titulo obtenido :</p>
                    <h6>Básica de Primaria </h6>
                </div>
            </div>
            <div class="estudios2">
                <img src="./../../assets/imagenes/jose.png">
                <div class="estudiosP2">
                    <div class="titu-fechaEstudios2">
                        <h5>L. B. "José María España" </h5>
                        <h6> 2015 - 2016 </h6>
                    </div>
                    <h6> Titulo obtenido :</h6>
                    <p>Bachiller en ciencias</p>

                </div>
            </div>
            <div class="estudios3">
                <img src="./../../assets/imagenes/usb.jpg">
                <div class="estudiosP2">
                    <div class="titu-fechaEstudios2">
                        <h5>Universidad Simón Bolivar </h5>
                        <h6> 2016 - 2017 </h6>
                    </div>

                    <h6> Titulo a obtener :</h6>
                    <p>mecánica electronica(Sin concluir)</p>

                </div>
            </div>
        </div>
    </div>